
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-list-nested:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-sort-alphabet:before { content: '\e804'; } /* '' */
.icon-plus-squared:before { content: '\e805'; } /* '' */
.icon-minus-squared:before { content: '\e806'; } /* '' */
.icon-collapse:before { content: '\e807'; } /* '' */
.icon-expand:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\e809'; } /* '' */
.icon-up-open:before { content: '\e80a'; } /* '' */
.icon-goto:before { content: '\e80b'; } /* '' */
.icon-info:before { content: '\e80c'; } /* '' */
.icon-atoz:before { content: '\e80d'; } /* '' */