
.icon-flashlight:before { content: '\e800'; } /* '' */
.icon-sort-alphabet:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */