// out: styles.css, compress: true
@import "../font/angular_template.css";
@import "../../bower_components/bootstrap/less/bootstrap.less";
@color-primary: #f613f6; //magenta
@color-secondary: #00a1b6; //cyan
@color-inactive: #cccccc;
@color-topic-even: #26afc1;
@color-topic-odd: #57c1cf;
@header-height: 100px;
@content-container-bottom: 0;
@portrait-nav-menu-w: 100%;
@portrait-nav-menu-h: 46%;
@header-height-m: 65px;
@logo-width: 200px;
@logo-height: 10%;
@button-dimension: 60px;
@button-radius: @button-dimension*0.5;
@group-height: 47px;
@head-lineheight: 100px;
@topic-lineheight: 2em;
@poi-line-height: 45px;
@tab-circle-height-xl: 70px;
@tab-circle-height-md: 45px;
@tab-circle-height-sm: 20px;
@tab-height-xl: 120px;
@tab-height-md: 90px;
@tab-height-sm: 70px;
@window-height-xl: 1280px;
@window-height-md: 960px;
@window-height-sm: 640;
@window-width-xl: 800px;
@window-width-md: 600px;
@window-width-sm: 360px;
@modal-backdrop-bg: transparent;
@modal-window-divider: 25%;
@modal-body-vertical-divider: 25%;
@modal-btn-size: 1.5em;
@modal-btn-font-size: 1.1em;
.close-modal {
  position: absolute;
  font-size: 30px;
  right: 10px;
  bottom: 10px;
}

.modal-dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: @color-secondary;
  .modal-content {
    width: 100%;
    height: 100%;
    .box-shadow(0 0px 0px rgba(0, 0, 0, 0));
    border-radius: 0;
    border: 0;
    background: @color-secondary;
    .modal-window {
      position: relative;
      width: 100%;
      height: 100%;
      .modal-body {
        position: absolute;
        top: 0;
        bottom: @modal-window-divider;
        left: 0;
        right: 0;
        font-size: 2em;
        line-height: 100%;
        padding: 0;
        margin: 0;
        .modal-poi-name {
          position: absolute;
          top: 5%;
          bottom: 5%;
          left: 0;
          right: @modal-body-vertical-divider;
          float: left;
          color: white;
          text-transform: uppercase;
          border-right: 1px solid white;
          padding-left: 2%;
        }
        .modal-buttons {
          position: absolute;
          top: 5%;
          bottom: 5%;
          left: 100% - @modal-body-vertical-divider;
          right: 0;
          float: right;
          color: #fff;
          .btn-circle {
            font-size: @modal-btn-font-size;
            position: absolute;
            margin: 10px;
            height: @modal-btn-size;
            width: @modal-btn-size;
            line-height: @modal-btn-size;
            text-align: center;
            border-radius: 3em;
            margin: 0px;
            border: 0px;
            border: 0px solid #ffffff;
            padding: 0px;
            display: inline-block;
            background-color: white;
            color: @color-secondary;
          }
          .show-path {
            left: 10px;
            top: 10px;
          }
          .extra-info {
            top: 10px;
            right: 10px;
          }
          .close-modal {
            text-align: center;
          }
        }
      }
      .modal-footer {
        width: 100%;
        top: 100% - @modal-window-divider;
        bottom: 0;
        position: absolute;
        padding: 0;
        text-align: left;
        .modal-poi-group-name {
          padding-left: 5%;
          width: 100%;
          height: 100%;
          line-height: 30px;
          font-size: 21px;
          vertical-align: middle;
          color: white;
        }
      }
    }
  }
}

html,
body {
  font-size: 16px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  color: @color-secondary;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input::-ms-clear {
  display: none;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px;
  background: #ffffff;
  display: block;
}

.content-container {
  padding: 0px;
  position: absolute;
  top: @header-height;
  bottom: @content-container-bottom;
  left: 0;
  right: 0;
}


/*** TOP MENUBAR ***/

.header {
  position: absolute;
  width: 100%;
  top: 0;
  height: @header-height;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.30);
  z-index: 1;
  display: inline-block;
  .icon {
    float: right;
    width: @header-height;
    height: @header-height;
    padding: 11px;
    box-sizing: border-box;
    font-size: 50px;
    color: @color-secondary;
    text-align: center;
    text-decoration: none;
  }
  .title {
    font-size: 5em;
    line-height: 1.7;
    text-transform: uppercase;
    color: @color-primary;
  }
  .toggle-nav-menu {
    position:absolute;
    right: 5px;
    top:5px;
    font-size: 4em;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    color: @color-primary;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 7%;
  height: @logo-height;
  width: @logo-width;
  z-index: 9000;
  margin: 0;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: contain;
  text-indent: -2000px;
}

.lang-menu {
  text-transform: uppercase;
  position: absolute;
  float: left;
  bottom: 0.7em;
  left: 0.7em;
  width: 50px;
  height: 6em;
  line-height: 2em;
  z-index: 13;
  .language-button {
    display: block;
    z-index: 15;
    color: @color-inactive;
    font-size: 1.4em;
  }
  .active {
    color: @color-primary;
  }
}

.lang-current {
  display: block;
  margin: 0;
  a {
    display: block;
    padding: 18px 13px 16px;
    &:hover span,
    &.on-touch span {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    &:active span {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

#menu-btn {
  float: right;
  margin: 0;
  span {
    display: block;
    text-indent: -1000px;
    overflow: hidden;
  }
  &:hover .icon,
  &.on-touch .icon {
    color: @color-primary;
  }
  a.active:before {
    content: '\e804' !important;
  }
}


/*** DROPDOWN MENU ***/

.nav-menu {
  position: absolute;
  top: @header-height;
  bottom: 0;
  left: 100%;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
  background: @color-inactive;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: .5s;
  z-index: 1;
  .tabs {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 100%;
    .tab-heads {
      width: 100%;
      height: @header-height;
      @media (max-height: @window-height-xl) {
        height: @tab-height-xl;
      }
      @media (max-height: @window-height-md) {
        height: @tab-height-md;
      }
      @media (max-height: @window-height-sm) {
        height: @tab-height-sm;
      }
      text-align: center;
      vertical-align: middle;
      .tab-head {
        vertical-align: middle;
        top: 0;
        bottom: 0;
        display: inline-block;
        color: #fff;
        text-align: center;
        border-radius: 5rem;
        border: 0px;
        margin: 10px;
        border: 0px solid;
        background: @color-primary;
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2.5rem;
      }
      .btn-circle {}
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .active {
        color: white;
        background-color: @color-secondary;
      }
    }
    .tab-contents {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 0 0 0;
      top: 150px;
      .tab-content {
        position: absolute;
        display: none;
        width: 96%;
        left: 2%;
        top: 10px;
        bottom: 0;
        .topics {
          position: relative;
          height: 100%;
          width: 100%;
          overflow: auto;
          .topic-name {
            color: #ffffff;
          }
          .btn-circle {
            height: 44px;
            width: 44px;
            line-height: 41px;
            text-align: center;
            border-radius: 3em;
            font-size: 0.8em;
            border: 0px;
            border: 2px solid white;
            padding: 0px;
            color: #ffffff;
            display: inline-block;
          }
          .group {
            position: relative;
            background: @color-topic-even;
            margin: 10px;
            /*height: @group-height;*/
            vertical-align: middle;
            text-transform: uppercase;
            font-size: 29px;
            padding: 10px;
            line-height: @group-height;
            .pois {
              margin-top: 0.25em;
              .poi {
                width: 100%;
                padding-left: 10px;
                vertical-align: middle;
                display: inline-block;
                .name {
                  padding-left: 30px;
                  color: @color-primary;
                }
                .floor {
                  color: @color-primary;
                  right: 10%;
                  float: right;
                  display: inline-block;
                  margin: 10px;
                }
                .btn-circle {
                  height: 33px;
                  width: 33px;
                  line-height: 33px;
                  text-align: center;
                  border-radius: 3em;
                  font-size: 0.75em;
                  border: 0px;
                  border: 2px solid @color-primary;
                  padding: 0px;
                  display: inline-block;
                }
              }
              >:nth-child(even) {
                #icon {
                  background: none;
                  color: @color-secondary;
                }
              }
              >:nth-child(odd) > {
                #icon {
                  background: none;
                  color: @color-secondary;
                }
              }
              >:nth-child(even) {
                background-color: #dddddd;
              }
              >:nth-child(odd) {
                background-color: #ffffff;
              }
            }
          }
          >:nth-child(odd).group {
            background-color: @color-topic-odd;
          }
          >:nth-child(even).group {
            background-color: @color-topic-even;
          }
        }
        .aToZ {
          position: relative;
          width: 96%;
          left: 2%;
          height: 100%;
          .alphabet {
            width: 100%;
            text-transform: uppercase;
            display: none;
            margin: 2px;
            .btn-circle {
              vertical-align: middle;
              height: 50px;
              width: 50px;
              line-height: 46px;
              text-align: center;
              border-radius: 3em;
              font-size: 2em;
              margin: 10px;
              border: 0px;
              border: 2px solid #ffffff;
              padding: 0px;
              display: inline-block;
              background: none;
              color: #ffffff;
            }
            .active {
              display: inline-block;
              background: @color-secondary;
            }
          }
          .list {
            position: relative;
            width: 100%;
            height: 60%;
            display: none;
            .poi {
              width: 100%;
              padding-left: 10px;
              vertical-align: middle;
              display: inline-block;
              height: @poi-line-height;
              line-height: @poi-line-height;
              font-size: @poi-line-height*0.7;
              .name {
                padding-left: 30px;
                color: @color-primary;
              }
              .group {
                position: absolute;
                right: 10px;
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;
                font-size: @poi-line-height*0.5;
              }
            }
            >:nth-child(even) {
              #icon {
                background: none;
                color: @color-secondary;
              }
            }
            >:nth-child(odd) > {
              #icon {
                background: none;
                color: @color-secondary;
              }
            }
          }
          :nth-child(odd).poi {
            background-color: #ffffff;
          }
          :nth-child(even).poi {
            background-color: #dddddd;
          }
          .active {
            display: block;
          }
        }
      }
      .active {
        display: block;
      }
    }
  }
}

hr {
  width: 100%;
  margin-top: 1px;
}

.tab-content-default {
  position: absolute;
  top: 10px;
  width: 100%;
  bottom: 10px;
}

.tab-content-default .add {
  position: absolute;
  top: 0;
  bottom: 10%;
  width: 100%;
  background-color: @color-topic-even;
}

.search {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 10px;
  .search-wrapper {
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    font-size: 3em;
    vertical-align: middle;
    border: none;
    #search-bar {
      position: absolute;
      top: 0;
      height: 5rem;
      border: none;
      border-radius: 5rem;
      padding-left: 20px;
      left: 0;
      width: 100%;
    }
    #search-btn {
      position: absolute;
      float: right;
      right: 0;
      border: none;
      border-radius: 50px;
      height: 100px;
      width: 100px;
      line-height: 100px;
      z-index: 2;
    }
  }
  .result-container {
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    .result {
      position: absolute;
      background: none;
      display: block;
      .poi {
        width: 100%;
        padding-left: 10px;
        vertical-align: middle;
        display: inline-block;
        /*height: @poi-line-height;*/
        line-height: @poi-line-height;
        font-size: @poi-line-height*0.7;
        color: white;
        hr {
          right: 10px;
          padding: 0;
          margin-bottom: 2px;
        }
      }
    }
    #search-keyboard {
      @media all and (orientation: portrait) {
        width: 57.5%;
        height: 100%;
        top: 0;
        right: 0;
      }
      @media all and (orientation: landscape) {
        width: 100%;
        height: 40%;
        top: 0;
        right: 0;
      }
      display: block !important;
    }
  }
}

.search-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: @color-secondary;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  &:hover {
    color: @color-primary;
  }
  span {
    display: block;
    position: absolute;
    text-indent: -1000px;
    overflow: hidden;
  }
}

.clear-search:before {
  content: '\e804' !important;
}

.facilities-menu {
  a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: @color-secondary;
    &:hover {
      background-color: @color-primary;
      color: #fff;
    }
  }
}


/*** KEYBOARD ***/

.keyboard-container {
  position: absolute;
  @media all and (orientation: portrait) {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  @media all and (orientation: landscape) {
    width: 100%;
    height: 40%;
    top: 0;
    right: 0;
  }
}

#keyboard {
  display: none;
  position: absolute;
  top: @header-height + 10px;
  right: 355px;
  padding: 10px;
  background: #eee;
  border-radius: 3px;
  border: 1px solid #C5C5C5;
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1);
}

.keyboard_key {
  display: inline-block;
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  box-sizing: border-box;
  background: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  &.key2x {
    width: 4em;
  }
  &.key3x {
    width: 6em;
  }
  &.key_spacebar {
    width: 12em;
  }
  &:hover {}
  &:active {
    background: #fafafa;
  }
}

.keyboard_row {
  margin: auto;
  clear: both;
}


/*** MAP ***/

.map-container {
  width: 100%;
  height: 100%;
  .map {
    height: 100%;
    width: 100%;
  }
}

.map-controls {
  .shortcuts {
    color: white;
    position: absolute;
    bottom: 10px;
    width: 80%;
    left: 0;
    right: 0;
    font-size: 20px;
    margin: auto;
    .shortcut {
      margin: 10px;
      .icon {
        font-family: font;
        background: #00a1b6;
        font-size: 1.3em;
        width: 2em;
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
        text-align: center;
        border: 0px solid white;
        border-radius: 50px;
        color: white;
      }
      display: inline-block;
      &:hover .icon {
        height: 100%;
        background: @color-secondary;
      }
      .active {
        background: @color-secondary;
      }
    }
  }
  .floors {
    position: absolute;
    top: 1em;
    left: 1em;
    .btn-circle {
      width: @button-dimension;
      height: @button-dimension;
      text-align: center;
      padding: 13px;
      font-size: 31px;
      border-radius: @button-radius;
      border: 3px;
      margin: 2px;
      border: 2px solid;
    }
    .active .floor-number {
      color: @color-secondary;
    }
    .active .floor-name {
      display: block;
    }
    .floor {
      vertical-align: top;
      display: block;
    }
    .floor-number {
      display: block;
      text-align: center;
      background: #fff;
      color: @color-primary;
      line-height: 1em;
      text-decoration: none;
      &:hover,
      &.active {
        color: @color-secondary;
      }
      float: left;
      display: inline-block;
    }
    .floor-name {
      display: none;
      margin-top: 5px;
      font-size: 13px;
      text-transform: uppercase;
      text-align: center;
      left: -50px;
    }
  }
}

.zoom {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 50px;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  button {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    outline: none;
    border: none;
    margin-top: 0;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      top: 25px;
      left: 17px;
      height: 2px;
      width: 16px;
      background: @color-secondary;
    }
    &.zoom-in {
      margin-top: 3px;
      margin-bottom: 9px;
      border-bottom: 1px #eee;
      &:after {
        content: "";
        position: absolute;
        top: 18px;
        left: 24px;
        height: 16px;
        width: 2px;
        background: @color-secondary;
      }
    }
    &:hover {
      background: @color-primary;
      &:after,
      &:before {
        background-color: #fff;
      }
    }
  }
}

.slider {
  display: block;
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 9px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #e0e0e0;
  }
  a {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: @color-primary;
    cursor: move;
  }
}

/*** RESPONSIVE ***/

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dragscroll {
  overflow: auto;
}

#extra-info {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 5em;
  color: white;
  line-height: 1;
  margin: 0 !important;
  #icon {
    float: right;
    border-radius: 100px;
    margin: 0 !important;
    background-color: @color-secondary;
  }
  :before {
    margin: 0 !important;
  }
  .description {
    position: absolute;
    top: 10rem;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 3rem;
  }
}

#extra-info .image {
  position: absolute;
  top: 3.5em;
  left: 0%;
  width: 7em;
  height: 5em;
}

#style-7::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.75, @color-topic-even), color-stop(0.25, @color-topic-odd));
}
