/* ========== BODY ========== */
@body-background-color: #fff;
@body-accent-color: #65C700;
@body-accent-second-color: #285200;
@body-border-color: #fff;
@body-font-color: #444;
@body-padding: 0px;
@body-border: none;

/* ========== ELEMENT - FOCUS ========== */
@element-focus-color: @body-font-color;

/* ========== LINKS ========== */
@link-font-color: @body-font-color;

/* ========== CONTAINER ========== */
@container-background-color: #FEFEFE;

/* ========== CONTENT CONTAINER ========== */
@content-container-background-color: @container-background-color;

/* ========== NO PROJECT VIEW ========== */
@no-project-notification-background-color: @body-background-color;
@no-project-notification-font-color: @body-font-color;

/* ========== HEADER ========== */
@header-background-color: @body-background-color;
@header-box-shadow-color: rgba(0, 0, 0, 0.30);

// - TITLE
@title-font-color: @body-font-color;
@title-background-color: @body-background-color;

// - .BUTTON
@button-class-background-color: rgba(0, 0, 0, 0);
@button-class-font-color: @body-font-color;

// - LANGUAGE MENU
@language-menu-background-color: #fff;

// -- .ACTIVE
@language-menu-active-class-color: @body-accent-color;

// -- .SUBMENU
@language-menu-submenu-class-background-color: #fff;
@language-menu-submenu-class-font-color: @body-font-color;

@language-menu-submenu-class-active-class-font-color: #fff;
@language-menu-submenu-class-active-class-background-color: @body-accent-color;

// - MENU-BTN
@menu-btn-id-icon-action-font-color: @body-accent-color;

// - MENU NAV-MENU-BTN
@menu-id-nav-menu-btn-font-color: @body-font-color;

/* ========== MAP ========== */

/* ========== ZOOM MENU ========== */
@zoom-menu-button-font-color: @body-font-color;
@zoom-menu-button-background-color: @body-background-color;

/* ========== NAV-MENU ========== */
@nav-menu-background-color: @body-background-color;
@nav-menu-box-shadow-color: rgba(0, 0, 0, 0.3);

// - TABS
@nav-menu-tab-border-color: #ddd;

// -- HOVER EFFECT
@nav-menu-tab-hover-background-color: @body-background-color;

// -- ACTIVE EFFECT
@nav-menu-tab-hover-active-color: rgba(0, 0, 0, 0);

// -- TAB HEAD
@nav-menu-tab-head-font-color: @body-font-color;
@nav-menu-tab-head-border-color: rgba(0, 0, 0, 0);
@nav-menu-tab-head-background-color: @body-background-color;

// --- HOVER EFFECT
@nav-menu-tab-head-hover-background-color: rgba(0, 0, 0, 0);

// --- ACTIVE
@nav-menu-tab-head-active-background-color: @body-background-color;
@nav-menu-tab-head-active-font-color: @body-accent-color;
@nav-menu-tab-head-active-border-color: #ddd;

/* ========== INFO ========== */
@info-font-color: @body-font-color;
@info-head-icon-font-color: #aaa;
@info-head-icon-border-color: #aaa;

// - PATH BUTTON
@path-button-icon-box-shadow-color: rgba(0, 0, 0, 0.3);
// --  HOVER EFFECT
@path-button-hover-background-color: none;

// -- ACTIVE EFFECT
@path-button-active-background-color: none;
@path-button-active-box-shadow-color: rgba(0, 0, 0, 0.3);
@path-button-active-icon-box-shadow-color: none;

// -- FOCUS EFFECT
@path-button-focus-background-color: none;

/* ========== TAB LIST ========== */

@list-font-color: #333;
@list-groups-after-font-color: #333;

/* ========== TAB LAYOUT ========== */
@tab-content-add-background-color: #26afc1;

/* ========== TOPICS ========== */

// - TOPIC
@topics-panel-group-topic-background-color: none;
@topics-panel-group-topic-head-background-color: none;

// -- TOPIC LIST
@topics-panel-group-topic-list-group-item-border-color: #eee;
@topics-panel-group-topic-list-icon-border-color: #ccc;
@topics-panel-group-topic-list-icon-box-shadow-color: #ccc;

/* ========== SEARCH ========== */
@search-result-background-color: none;
@search-bar-border-color: #333;
@search-bar-search-btn-font-color: #333;

// - FOCUS EFFECT
@search-bar-focus-border-color: #333;

// - SEARCH BUTTON
@search-button-font-color: @body-accent-second-color;
@search-button-background-color: transparent;

// -- HOVER EFFECT
@search-button-hover-font-color: @body-accent-color;

/* ========== KEYBOARD ========== */
@keyboard-background-color: transparent;

// - CLOSE BUTTON
@keyboard-close-background-color: #444;
@keyboard-close-font-color: #aaa;
@keyboard-close-border-color: #aaa;
@keyboard-close-border: thin-solid;

// - KEY
@keyboard-key-background-color: #444;
@keyboard-key-border-color: #444;
@keyboard-key-font-color: #fff;
@keyboard-key-border: none;

// - KEY - ACTIVE
@keyboard-key-active-font-color: #444;
@keyboard-key-active-background-color: #fff;

/* ========== RESPONSIVE ========== */
// STYLE 7
@style-7-webkit-scrollbar-background-color: #ddd;
@style-7-webkit-scrollbar-thumb-background-color: @body-accent-color;

/* ========== SHORTCUTS MENU ========== */
@shortcuts-menu-button-font-color: transparent;
@shortcuts-menu-button-background-color: transparent;

// -ICON
@shortcuts-menu-button-icon-background-color: #00a1b6;
@shortcuts-menu-button-icon-font-color: #fff;

// -- HOVER EFFECT
@shortcuts-menu-button-hover-background-color: @body-accent-second-color;

// -- ACTIVE EFFECT
@shortcuts-menu-button-active-background-color: @body-accent-second-color;

/* ========== DEFAULT BUTTON ========== */
@default-button-dropdown-toggle-background-color: none;
@default-button-dropdown-toggle-hover-background-color: @body-background-color;

/* ========== FLOORS MENU ========== */
@floor-menu-background-color: @body-background-color;
// - BUTTON
@floor-menu-floor-button-background-color: @body-background-color;
@floor-menu-floor-button-font-color: @body-font-color;
@floor-menu-floor-button-box-shadow-color: rgba(0, 0, 0, 0.3);

// -- HOVER EFFECT
@floor-menu-floor-button-hover-background-color: @body-accent-color;
@floor-menu-floor-button-hover-font-color: #fff;

// -- ACTIVE EFFECT
@floor-menu-floor-button-active-background-color: @body-accent-color;
@floor-menu-floor-button-active-font-color: #fff;

/* ========== LOADING BAR ========== */
@loading-bar-background-color: @body-background-color;
@loading-bar-bar-background-color: @body-accent-color;

// -.peg
@loading-bar-peg-box-shadow-color:@body-accent-color;