<!-- A-Z -->
<div class="tab-content">
    <div class="atoz" id="style-7">
        <div class="list dragscroll" id="style-7">
            <div class="poi row" ng-repeat="poi in poiObjects | orderBy:'names.translations.'+getLanguage()">
                <div class="texts columns small-8 medium-9 left">
                    <div class="name columns small-12 medium-6" ng-click="showInfo(poi)" ng-bind-html="poi.getName(getLanguage())"></div>
                    <div class="group columns small-12 medium-6" ng-bind-html="group.getName(getLanguage())"
                        ng-repeat="group in poi.getGroups()" style="color: {{getColorRGBA(group)}};"
                        ng-bind-html="group.getNames() | wfCurrentLanguage" ng-click="showTopic(group)">
                    </div>
                </div>
                <div class="icons columns small-4 medium-3 right button-group">
                    <div class="icon button" ng-click="showPath(poi)" onclick="toggleNavMenu()">
                        <div class="icon-goto"></div>
                    </div>
                    <div class="icon button" ng-click="showInfo(poi)">
                        <div class="icon-info"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
