<!-- EXTRAINFO -->
<div class="tab-content columns small-12">
    <div id="info" class="poi">
        <div id="info-head" class="row columns small-12 expanded">
            <div id="name" class="columns small-10" ng-bind-html="poi.names | wfCurrentLanguage"></div>
            <div id="icon" class="columns small-2" ng-show="poi.getNode()" ng-click="showPath(poi)">
                <div class="icon-goto"></div>
            </div>
        </div>
        <div class="description columns small-12" ng-show="hasDescription(poi)" ng-bind-html="poi.descriptions | wfCurrentLanguage"></div>
        <div class="image columns small-12" style="background-image:{{getBackgroundImage(poi)}}"></div>
    </div>
</div>
