<!-- EXTRAINFO -->
<div class="tab-content columns small-12">
    <div id="info" class="poi">
        <div id="info-head" class="col-sm-12">
            <div class="name col-sm-10" ng-bind-html="poi.names | wfCurrentLanguage"></div>
            <div class="icon col-sm-2" ng-show="poi.getNode()" ng-click="showPath(poi)">
                <i class="icon-iglu-goto"></i>
            </div>
        </div>
        <div class="description col-sm-12" ng-show="hasDescription" ng-bind-html="poi.descriptions | wfCurrentLanguage"></div>
        <div class="image col-sm-12" style="background-image:{{poi.backgroundImage}}"></div>
    </div>
</div>