<!-- SEARCH -->
<div class="tab-content">
    <div class="search">
        <div class="search-wrapper">
            <input id="search-bar" ng-model="textToSearch" ng-value="textToSearch" placeholder="{{getGUITranslation('search-bar-placeholder')}}">
            <div id="search-btn" class="fa fa-search"></div>
        </div>
        <div class="result-container" id="style-7">
            <div class="list dragscroll" id="style-7">
                <div class="poi" ng-repeat="poi in filteredPois = (poiObjects | orderBy:'names.translations.'+getLanguage() | filter:searchPOIsNames)">
                    <span id="icon" class="icon-info" ng-click="showInfo(poi)"></span>
                    <span id="icon" class="icon-goto" ng-click="showPath(poi)"></span>
                    <span class="name" ng-click="showInfo(poi)" ng-bind-html="poi.getName(getLanguage())"></span>
                    <span class="group" ng-repeat="group in poi.getGroups()" style="color: {{getColorRGBA(group)}};" ng-bind-html="group.getName(getLanguage())" ng-click="showTopic(group)"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SEARCH KEYBOARD -->
<div class="keyboard-container" ng-controller="KeyboardController as KBC" ng-show="showKeyboard">
    <div class="keyboard-backdrop">
        <div class="close-keyboard btn-circle fa fa-times" ng-click="showKeyboard = false"></div>
        <div class="search-keyboard keyboard"></div>
    </div>
</div>
