<!-- SEARCH -->
<div class="tab-content">
    <div class="search">
        <div class="search-wrapper">
            <input id="search-bar" ng-model="textToSearch" ng-value="textToSearch" placeholder="{{getGUITranslation('search-bar-placeholder')}}">
            <div id="search-btn" class="fa fa-search"></div>
        </div>
        <!-- SEARCH KEYBOARD -->
        <div class="keyboard-container show-for-medium" ng-controller="KeyboardController as KBC" ng-show="showKeyboard">
            <!--div class="keyboard-backdrop"-->
            <!--div class="close-keyboard btn-circle fa fa-times" ng-click="showKeyboard = false"></div-->
            <div class="search-keyboard keyboard"></div>
            <!--/div-->
        </div>
        <div class="result-container" id="style-7">
            <div class="list dragscroll">
                <div class="poi row" ng-repeat="poi in poiObjects | orderBy:'names.translations.'+getLanguage() | filter:searchPOIsNames as filtered">
                    <div class="texts columns small-8 medium-9 left">
                        <div class="name columns small-12 medium-6" ng-click="showInfo(poi)" ng-bind-html="poi.getName(getLanguage())"></div>
                        <div class="group columns small-12 medium-6" ng-repeat="group in poi.getGroups()" style="color: {{group.colorRGBA}};" ng-bind-html="group.getName(getLanguage())" ng-click="showTopic(group)">
                        </div>
                    </div>
                    <div class="icons columns small-4 medium-3 right button-group">
                        <div class="icon button" ng-click="showPath(poi)" onclick="toggleNavMenu()">
                            <div class="icon-iglu-goto"></div>
                        </div>
                        <div class="icon button" ng-click="showInfo(poi)">
                            <div class="icon-iglu-info"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
