<!-- TOPICS -->
<div class="tab-content">
    <div class="topics" class="dragscroll" id="style-7">
        <div class="topic" ng-repeat="group in groups">
            <div class="topic-head columns small-12" ng-click="group.active = !group.active">
                <div class="topic-name left columns small-10 medium-11" ng-bind-html="group.getNames() | wfCurrentLanguage" style="color: {{getColorRGBA(group)}}">
                  </div>
                <div class="topic-toggle right columns small-2 medium-1 button-group">
                    <div class="btn-circle fa button" ng-class="group.active ? 'fa-angle-up':'fa-angle-down'"></div>
                </div>
            </div>
            <div class="list topic-list" ng-class="group.active ? 'active':''">
                <div class="poi row" ng-repeat="poi in group.pois | orderBy:'names.translations.'+getLanguage()">
                    <div class="texts columns small-8 medium-9 left">
                        <div class="name columns small-12" ng-click="showInfo(poi)" ng-bind-html="poi.getNames() | wfCurrentLanguage"></div>
                    </div>
                    <div class="icons columns small-4 medium-3 right button-group">
                        <div id="icon" class="icon-goto button" ng-click="showPath(poi)" onclick="toggleNavMenu()"></div>
                        <div id="icon" class="icon-info button" ng-click="showInfo(poi)"></div>
                    </div>
                    <!-- <span class="group" ng-bind-html="group.getName(getLanguage())" ng-repeat="group in poi.getGroups()" style="color: {{getColorRGBA(group)}};" ng-bind-html="group.getName(getLanguage())" ng-click="showTopic(group)">
                    </span>-->
                </div>
            </div>
        </div>
    </div>
</div>
