<!-- TOPICS -->
<div class="tab-content">
	<div class="topics style-7">
		<div class="list dragscroll style-7">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default topic" ng-repeat="group in groups">
					<div class="panel-heading topic-head collapsed"
						 role="tab"
						 id="headingTwo"
						 data-toggle="collapse"
						 data-parent="#accordion"
						 data-target="#collapse{{group.id}}"
						 aria-expanded="false"
						 aria-controls="collapseTwo"
						 ng-click="group.active = !group.active">
						<span class="topic-title" style="color: {{group.colorRGBA}}"
							  ng-bind-html="group.getNames() | wfCurrentLanguage">

						</span>
						<span class="fa button pull-right"
							  ng-class="group.active ? 'fa-chevron-right':'fa-chevron-down'"></span>
					</div>
					<div id="collapse{{group.id}}" class="panel-collapse collapse" role="tabpanel"
						 aria-labelledby="headingTwo" ng-click="showInfo(poi)" ng-class="group.active ? 'collapse in':''">

						<ul class="list-group list topic-list">
							<li class="list-group-item poi"
								ng-repeat="poi in group.pois | orderBy:'names.translations.'+getLanguage()">
								<div ng-bind-html="poi.getNames() | wfCurrentLanguage" >

								</div>
								<div>
									<span class="icon button" ng-click="showPath(poi)">
										<i class="icon-iglu-goto"></i>
									</span>
									<span class="icon button" ng-click="showInfo(poi)">
										<i class="icon-iglu-info"></i>
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

